[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TigerCapture
Categories=Graphics;Utility;
Comment=Screenshot and file uploading tool
Exec=tigercapture
Icon=tigercapture
Terminal=false